USE [ProjektZaliczeniowy]
GO
/****** Object:  StoredProcedure [dbo].[AddReservation]    Script Date: 12.01.2020 13:43:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[AddReservation] @mail varchar(50), 
@typ varchar(10), @seans int
as
declare @bilet varchar(10);
declare @id int;
set @id = (SELECT IdKlienta FROM Klienci WHERE Email= @mail);
insert into Bilety(TypBiletu) values (@typ);
set @bilet = (Select top 1 IdBiletu from Bilety order By IdBiletu
DESC);

insert into Zamowienia(IdBiletu, IdKlienta, IdSeansu)
values(@bilet, @id, @seans);

GO
/****** Object:  StoredProcedure [dbo].[addUser]    Script Date: 12.01.2020 13:43:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[addUser] @imie varchar(30), @naz varchar(30),
@mail varchar(50), @datau varchar(10), @ulica varchar(40),
@miasto varchar(30), @kod varchar(6), @pas varchar(256)
as
INSERT INTO Klienci (Imie, Nazwisko, Email, DataUrodzenia, Ulica, Miasto, KodPocztowy, Haslo, Superuser) 
VALUES (@imie, @naz, @mail, @datau, @ulica, @miasto, @kod, @pas, 0);
GO
/****** Object:  StoredProcedure [dbo].[deleteSeans]    Script Date: 12.01.2020 13:43:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[deleteSeans] @id int
as
DELETE FROM Seanse WHERE IdSeansu= @id
GO
/****** Object:  StoredProcedure [dbo].[Dodaj]    Script Date: 12.01.2020 13:43:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[Dodaj] @tytul varchar(50),
@datas varchar(11), @godz varchar(5),
@sala int, @typ varchar(6) 
as
insert into Seanse(TytulFilmu, DataSeansu, 
GodzinaSeansu, IdSali, TypSeansu) 
values (@tytul, @datas, @godz, @sala, @typ)
GO
/****** Object:  StoredProcedure [dbo].[getAllFilms]    Script Date: 12.01.2020 13:43:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[getAllFilms]
as
SELECT Seanse.TytulFilmu, Seanse.TypSeansu, Seanse.DataSeansu, Seanse.GodzinaSeansu, 
Seanse.IdSali, SaleKinowe.IloscMiejsc FROM Seanse
LEFT JOIN SaleKinowe ON Seanse.IdSali = SaleKinowe.IdSali
GO
/****** Object:  StoredProcedure [dbo].[getEmail]    Script Date: 12.01.2020 13:43:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[getEmail] @mail varchar(50)
as
select Email from Klienci where Email = @mail
GO
/****** Object:  StoredProcedure [dbo].[getEmailCount]    Script Date: 12.01.2020 13:43:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[getEmailCount] @mail varchar(50), 
@EmailCOUNT int OUT
as
Select @EmailCOUNT = COUNT(*) from Klienci 
where Email = @mail
GO
/****** Object:  StoredProcedure [dbo].[getSale]    Script Date: 12.01.2020 13:43:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[getSale]
as
select IdSali, IloscMiejsc from SaleKinowe
GO
/****** Object:  StoredProcedure [dbo].[getSeanse]    Script Date: 12.01.2020 13:43:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[getSeanse]
as
SELECT IdSeansu, TytulFilmu, TypSeansu FROM Seanse
GO
/****** Object:  StoredProcedure [dbo].[getSeanseToDel]    Script Date: 12.01.2020 13:43:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[getSeanseToDel]
as
SELECT IdSeansu, TytulFilmu FROM Seanse
GO
/****** Object:  StoredProcedure [dbo].[isSuperuser]    Script Date: 12.01.2020 13:43:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[isSuperuser]
as
select Email, Superuser from Klienci where
Superuser = 1
GO
/****** Object:  StoredProcedure [dbo].[Login]    Script Date: 12.01.2020 13:43:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[Login] @mail varchar(50), @pas varchar(256)
as
select Email, Haslo from Klienci where
Email = @mail and
Haslo = @pas
GO
/****** Object:  StoredProcedure [dbo].[myReservation]    Script Date: 12.01.2020 13:43:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[myReservation] @mail varchar(50)
as
SELECT Bilety.IdBiletu, Zamowienia.IdBiletu, Zamowienia.IdKlienta, Zamowienia.IdSeansu, Klienci.IdKlienta, Seanse.IdSeansu, Seanse.TytulFilmu, 
Seanse.TypSeansu , Seanse.DataSeansu, Seanse.GodzinaSeansu, Seanse.IdSali, Klienci.Email
FROM Seanse INNER JOIN (Klienci INNER JOIN (Bilety INNER JOIN Zamowienia ON Bilety.IdBiletu = Zamowienia.IdBiletu) 
ON Klienci.IdKlienta = Zamowienia.IdKlienta) ON Seanse.IdSeansu= Zamowienia.IdSeansu
WHERE (((Klienci.Email)=@mail))
GO
